.tag-input {
    input {
        display: block;
        padding: 5px;
        margin: 10px auto;
        width: 95%;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }
    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .tag {
            display: flex;
            flex-direction: row;
            margin: 0;
            p {
                background: $accent_red;
                color: $off_white;
                padding: 5px 10px;
                margin: 5px;
                margin-right: 0;
                border-radius: 15px;
                position: relative;
            }
            .x-icon {
                position: relative;
                right: 12px;
                bottom: 0;
                width: 30px;
                color: $dark_background;
                margin-right: -15px;
            }
        }
    }
}