.writer-card {
    background: $off_white;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    img {
        width: 7rem;
    }
    .fab {
        margin: 5px;
        &:hover {
            cursor: pointer;
        }
    }
    .rhs {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        width: auto;
        h1 {
            font-size: 18px;
            text-align: left;
            margin: 2px;
        }
        h5 {
            font-size: 12px;
            text-align: left;
            margin: 2px;
        }
        img {
            width: 10%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .writer-card {
        width: 85%;
        img {
            width: 8rem;
        }
        .rhs {
            h1 {
                font-size: 20px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .writer-card {
        width: 75%;
        .rhs {
            h1 {
                font-size: 24px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .writer-card {
        width: 55%;
        .rhs {
            h1 {
                font-size: 24px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .writer-card {
        width: 45%;
        .rhs {
            h1 {
                font-size: 24px;
            }
        }
    }
}