.social-input {
    margin: 8px;
    align-items: center;
    display: inline;
    .x-icon {
        position: relative;
        bottom: 3rem;
        right: 1rem;
        width: 30px;
    }
    &:hover {
        cursor: pointer;
    }
}