.create-post {
    margin: 10px auto;
    h4 {
        color: white;
    }
    .editor {
        background-color: $off_white;
        width: 95%;
        margin: 10px auto;
        border-radius: 10px;
        padding: 10px;
        input {
            display: block;
            padding: 5px;
            margin: 10px auto;
            width: 95%;
            border-radius: 10px;
            border: none;
            padding: 10px;
        }
        fieldset {
            width: 10rem;
            border-radius: 10px;
            margin-bottom: 5px;
            label {
                margin-left: 8px;
                display: inline-block;
            }
            input {
                margin: 1px 1px 1px 8px;
                width: fit-content;
                display: inline-block;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .create-post {
        width: 85%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .create-post {
        width: 75%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .create-post {
        width: 55%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .create-post {
        width: 45%;
    }
}