.skeleton-card {
    background: $dark_grey;
    width: 95%;
    height: 6rem;
    margin: 1rem auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient( 90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2), 20%, rgba(#fff, 0.5), 60%, rgba(#fff, 0));
        animation: shimmer 5s infinite;
        content: "";
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .skeleton-card {
        width: 85%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .skeleton-card {
        width: 75%;
        height: 10rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .skeleton-card {
        width: 55%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .skeleton-card {
        width: 45%;
        height: 14rem;
    }
}