.profile {
    .profile_not_logged_in {
        background-color: $off_white;
        width: 90%;
        border-radius: 10px;
        margin: auto;
        padding: 20px 0;
        p {
            text-align: center;
        }
    }
    .profile_not_logged_in:hover {
        background-color: $hover_grey;
        cursor: pointer;
    }
    .profile-info {
        background: $off_white;
        width: 95%;
        margin: 10px auto;
        padding: 10px 5px;
        border-radius: 10px;
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        .user-inputs {
            text-align: center;
            input {
                display: block;
                margin: 0 auto 20px auto;
                padding: 5px;
                font-size: 14px;
                width: 80%;
            }
        }
    }
}