.profile {
    .white_card_background {
        color: $off_white;
    }
    .profile-info {
        background: $off_white;
        width: 95%;
        margin: 10px auto;
        padding: 10px 5px;
        border-radius: 10px;
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        .user-inputs {
            text-align: center;
        }
    }
}