.post-card {
    &:hover .rhs {
        transform: scale(1.2);
        font-style: italic;
        color: $off_white;
        background-color: $accent_red;
        padding: 10px;
        border-radius: 10px;
        .tags {
            p {
                background-color: $dark_background;
            }
        }
    }
    &:hover {
        cursor: pointer;
        background-color: $dark_grey;
    }
    img {
        width: 100%;
        transition: all 1s;
        border-bottom: 1px solid black;
        margin-right: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .rhs {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        width: 75%;
        h1 {
            transition: all 1s;
            font-size: 18px;
            text-align: left;
            margin: 2px;
        }
        h5 {
            transition: all 1s;
            font-size: 12px;
            text-align: left;
            margin: 2px;
        }
        .tags {
            transition: all 1s;
            text-align: left;
            p {
                display: inline-block;
                padding: 5px 12px;
                margin-right: 5px;
                border-radius: 20px;
                background: $accent_red;
                color: $off_white;
                margin-bottom: 5px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .post-card {
        img {
            width: 10rem;
            transition: all 1s;
            border-right: 1px solid black;
            border-bottom: none;
            border-top-right-radius: 0;
            margin-right: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            object-fit: cover;
        }
        display: flex;
        flex-direction: row;
        .rhs {
            h1 {
                font-size: 20px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .post-card {
        .rhs {
            h1 {
                font-size: 24px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .post-card {
        .rhs {
            h1 {
                font-size: 24px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .post-card {
        .rhs {
            h1 {
                font-size: 24px;
            }
        }
    }
}