.article-editor {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    border: 1px solid $dark_background;
    .editor-controls {
        margin: 0;
        padding: 5px;
        display: flex;
        flex-flow: row wrap;
        .editor-icon {
            width: fit-content;
            height: 100%;
            padding: 5px;
            border-radius: 5px;
            margin: 3px;
            color: $dark_background;
            &:hover {
                background-color: $light_grey;
                cursor: pointer;
            }
        }
        border-bottom: 1px solid $dark_background;
        .is-active {
            background-color: $dark_background;
            color: $off_white;
            &:hover {
                background-color: $dark_grey;
            }
        }
        .separator {
            color: $dark_background;
            font-size: 22px;
            margin: auto 0;
        }
    }
    .editor-content {
        padding: 1rem;
    }
    .bubble-menu {
        position: relative;
        top: 5rem;
        .bubble-icon {
            padding: 5px;
            margin: 0 2px;
            background-color: $light_grey;
            border-radius: 4px;
        }
        .is-active {
            border: 2px solid $dark_grey;
        }
    }
}

.indent {
    padding-left: 30px;
}